body{

    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./images/back1.jpg);
    
    background-position: left;
    
    
}

body, html {
    min-height: 100%;
      }

#post-it{
    min-height:100vh;
    width: 100%;
    text-align: center;
    
 
    
}

#option{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    min-height: 100vh;
    width: 20vw;
    background-color: black;
    opacity: 0.7;
    animation: option 5s;
    z-index: 10;

}


@keyframes option{
    from{
        opacity:0;
    }

    to{
        opacity: 0.7;
    }
}

@keyframes postit{
    from{
        opacity:0;
    }

    to{
        opacity: 0.8;
    }
}


.buttonOption{

    min-height: 70px;
    min-width: 70%;
    border-radius: 20px;
    font-size: 120%;
    background-color: darkred;
    color: whitesmoke;
    margin: 30px;

}

.buttonOption1{

    min-height: 70px;
    min-width: 70%;
    border-radius: 20px;
    font-size: 120%;
    background-color: darkgreen;
    color: whitesmoke;
    margin: 30px;

}


.buttonOption2{

    min-height: 70px;
    min-width: 70%;
    border-radius: 20px;
    font-size: 120%;
    background-color: darkgoldenrod;
    color: whitesmoke;
    margin: 30px;


}


.buttonOption3{

    min-height: 70px;
    min-width: 70%;
    border-radius: 20px;
    font-size: 120%;
    background-color: darkblue;
    color: whitesmoke;
    margin: 30px;

}


.buttonOption:hover{
    background-color: black;
    cursor: pointer;
    
}

.buttonOption1:hover{
    background-color: black;
    cursor: pointer;
    
}
.buttonOption2:hover{
    background-color: black;
    cursor: pointer;
    
}
.buttonOption3:hover{
    background-color: black;
    cursor: pointer;
    
}

.mesPostit{
   
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 5px 10px black;
    border-radius: 20px;
    
   
}







.mesPostit>*{
    font-family:  'Sriracha', cursive;
}

.bouton{

    justify-self: start;
    align-self: flex-start;
    background-color: white;
    border-radius: 20px;
    border: black 3px solid;
    margin-right: 5px;
}


.bouton:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.divB{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: 30px;

}


#text{
    width: 100%;
    overflow-wrap: break-word;
}

